@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans:400,300,700);
html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  outline: none;
  list-style: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  background: darkgrey;
  clear: both; }
  body a:hover {
    transition: .5s all ease;
    opacity: .4; }

nav {
  height: 15%;
  color: white;
  background: black;
  line-height: 120px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
  nav h1 {
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 300;
    text-transform: uppercase;
    float: left;
    font-size: 40px; }
  nav .links span {
    padding: 7px;
    border-bottom: 2px white solid;
    text-transform: lowercase; }

#home {
  width: 100%;
  text-align: center;
  color: white; }

.top {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;
  height: 830px;
  background-color: cyan;
  background-image: -webkit-linear-gradient(top left, magenta, cyan);
  background-image: linear-gradient(to bottom right,magenta, cyan, , , , , , , , );
  padding-top: 200px; }
  .top .bio h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 65px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center; }
  .top .bio .social {
    font-size: 40px; }
    .top .bio .social a {
      color: white; }

.work {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;
  height: 830px;
  color: black;
  background: #DFE0E1;
  background-color: #DFE0E1;
  background-image: -webkit-linear-gradient(top left, white, white);
  background-image: linear-gradient(to bottom right,white, white, , , , , , , , ); }
  .work a {
    color: black; }
    .work a:visted {
      color: black; }
  .work .tabs {
    margin-top: 0; }
    .work .tabs .fa {
      font-size: 30px; }
    .work .tabs .md-imac {
      display: inline-block;
      font-size: 7px;
      margin-top: 100px; }
      .work .tabs .md-imac img {
        width: 100%; }

.about {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 100%;
  height: 830px;
  background-color: #DFE0E1;
  background-image: -webkit-linear-gradient(top left, magenta, cyan);
  background-image: linear-gradient(to bottom right,magenta, cyan, , , , , , , , ); }
  .about img {
    height: 200px;
    border: 15px solid white;
    border-radius: 150px; }
  .about .left {
    width: 50%;
    margin: 0;
    height: 100%;
    float: left;
    background: transparent;
    border-right: 5px solid white;
    padding-top: 200px; }
  .about .right {
    width: 50%;
    margin: 0;
    height: 100%;
    float: right;
    background: transparent;
    font-size: 200px; }
    .about .right a {
      color: white; }
    .about .right ul {
      margin: 0;
      color: white; }
