<div id="home">

  <div class="about" data-sr="enter top, move 16px scale up 30%, over .5s">

    <span class="bio">
      <h3>code like a teenaged girl.</h3>
      <p>i'm princess sampson: front-end developer, iron yard academy graduate, and highschooler.</p>
      <p class="social"><a href="http://github.com/psamp" target="blank"><i class="fa fa-github"></i></a></p>
    </span>
  
  </div>
  <div hash="work" class="work" data-sr="enter top, move 16px scale up 30%, over .5s">

    <ul class="projects" data-sr="enter bottom, move 16px scale up 30%, over 1s">

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/leet.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h2>leet</h2>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/ficlist.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h2>ficlist</h2>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/etsy.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h2>etsy clone</h2>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/sandp.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h2>surf &amp; paddle</h2>
      </li>

      <li>
      <div class="md-imac md-glare">
          <div class="md-body">
              <div class="md-top">
                  <div class="md-camera"></div>

                  <div class="md-screen">
                  <img src="../assets/foxtail.png">
                  </div>
              </div>
          </div>

          <div class="md-base">
              <div class="md-stand"></div>
              <div class="md-foot"></div>
          </div>
      </div>
      <h2>foxtail restaurant</h2>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/todo.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h2>g.s.d</h2>
      </li>

    </ul>

  </div>
</div>

 <script>
  window.sr = new scrollReveal();
 </script>