<div id="home">

  <div class="top">

    <span class="bio">
      <h3>code like a teenaged girl.</h3>
      <p>i'm princess sampson: front-end developer, iron yard academy graduate, and highschooler.</p>
      <p class="social"><a href="http://github.com/psamp" target="_blank"><i class="fa fa-github"></i></a></p>
    </span>
  </div>

  <div class="work">

    <ul class="projects" data-sr="enter bottom, move 16px scale up 30%, over 1s">

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/leet.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h3>leet</h3>
        <p>mvp that brings together users with overlapping layovers. angular.js, angular material, google material icons, scss&amp;html, bourbon/neat, custom ruby on rails backend.</p>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/ficlist.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h3>ficlist</h3>
        <p>contacts list with persistent data, themed around fictional characters. solo project. backbone.js, scss&amp;html, bourbon/neat, font-awesome, mongodb heroku backend.</p>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/etsy.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h3>etsy clone</h3>
        <p>clone of an etsy search page. solo project. html&css, bourbon/neat, jquery, pulls from static block of etsy api data.</p>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/sandp.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h3>surf &amp; paddle</h3>
        <p>reproduction of <a href="https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/surf-paddle.png" target="_blank">this</a> image, aiming for pixel perfect. static html and css/scss.</p>
      </li>

      <li>
      <div class="md-imac md-glare">
          <div class="md-body">
              <div class="md-top">
                  <div class="md-camera"></div>

                  <div class="md-screen">
                  <img src="../assets/foxtail.png">
                  </div>
              </div>
          </div>

          <div class="md-base">
              <div class="md-stand"></div>
              <div class="md-foot"></div>
          </div>
      </div>
      <h3>foxtail restaurant</h3>
      <p>website for an imagined restaurant. group project. html&scss, bourbon/neat, jquery, heroku menu api, flickr api.</p>
      </li>

      <li>
        <div class="md-imac md-glare">
            <div class="md-body">
                <div class="md-top">
                    <div class="md-camera"></div>

                    <div class="md-screen">
                    <img src="../assets/todo.png">
                    </div>
                </div>
            </div>

            <div class="md-base">
                <div class="md-stand"></div>
                <div class="md-foot"></div>
            </div>
        </div>
        <h3>g.s.d</h3>
        <p>simple todo app. jquery, html&css, handlebars.</p>
      </li>

    </ul>

  </div>

  <div class="top">
  </div>

  <script>
    window.sr = new scrollReveal();
  </script>
</div>
