@import 'bourbon/bourbon';
@import 'neat/neat';

// VARIABLES
$mp: #9C27B0;
$ms: #00BCD4;
$mpopacity: RGBA(139, 70, 174, .6);
$msopacity: RGBA(83, 185, 208, .6);
$os: 'Open Sans', sans-serif;
$rs: 'Rock Salt', cursive;
$eb: 'EB Garamond', serif;
$w: white;
$offwhite: #DFE0E1;
$t: transparent;
// END

// MIXINS
@mixin cssaligntag($align) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: $align;
}

@mixin auto() {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

@mixin font($font, $weight, $ul) {
  font-family: $font;
  font-weight: $weight;
  text-transform: $ul;
}

@mixin padding($padding) {
  padding-left:$padding;
  padding-right:$padding;
}

@mixin fullbg($path) {
  background: $path no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin homediv() {
  @include auto();
  width:100%;
  height:830px;
};
// END

* {
  outline:none;
  list-style:none;
}

body {
 @include font($os, 300, lowercase);
 background:darkgrey;
 clear:both;

 a {

  &:hover {
    transition: .5s all ease;
    opacity: .4;
  }

 }
}

nav {
  height:15%;
  color:$w;
  background:black;
  line-height: 120px;
  width:100%;
  @include padding(100px);
  @include font($os, 700, uppercase);

  h1 {
    margin:0;
    @include font($rs, 300, uppercase);
    float:left;
  }

  .links {
    span {
      padding:7px;
      border-bottom:2px white solid;
    }
  }
}

// HOME

#home {
  width:100%;
  text-align:center;
  color:$w;
}

.top {
  @include homediv();
  @include linear-gradient(to bottom right, magenta, cyan, $fallback: $offwhite);
  padding-top:200px;
  .bio {
    h3 {
      @include font($os, 700, uppercase);
      font-size:65px;
      color:white;
      @include cssaligntag(center);
    }
    .social {
      font-size:40px;
      a {
        color: white;
      }
    }
  }
}

.work {
  @include homediv();
  color:black;
  background:$offwhite;
  @include linear-gradient(to bottom right, white, white, $fallback: $offwhite);

  a {
    color: black;

    &:visted {
      color:black;
    }
  }

  .tabs {
    margin-top: 0;

      .md-imac {
        display: inline-block;
        font-size:7px;
        margin-top:100px;
         img {
          width:100%;
         }
       }

      p {
        // width:30%;
        // margin: 0 auto;
      }

  }
}

.about {
  @include homediv();
  // height:400px;
  @include linear-gradient(to bottom right, magenta, cyan, $fallback: $offwhite);
  padding-top:200px;
  .bio {
    img {
      // display: inline-block;
      height:200px;
      border:20px solid $w;
      border-radius: 150px;
    }
  }
}
