@import 'bourbon/bourbon';
@import 'neat/neat';
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans:400,300,700);


// VARIABLES
$mp: #9C27B0;
$ms: #00BCD4;
$mpopacity: RGBA(139, 70, 174, .6);
$msopacity: RGBA(83, 185, 208, .6);
$os: 'Open Sans', sans-serif;
$rs: 'Permanent Marker', cursive;
$w: white;
$offwhite: #DFE0E1;
$t: transparent;
// END

// MIXINS
@mixin cssaligntag($align) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: $align;
}

@mixin auto() {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

@mixin font($font, $weight, $ul) {
  font-family: $font;
  font-weight: $weight;
  text-transform: $ul;
}

@mixin padding($padding) {
  padding-left:$padding;
  padding-right:$padding;
}

@mixin fullbg($path) {
  background: $path no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin homediv() {
  @include auto();
  width:100%;
  height:830px;
};
// END

* {
  outline:none;
  list-style:none;
}

body {
 @include font($os, 300, lowercase);
 background:darkgrey;
 clear:both;

 a {

  &:hover {
    transition: .5s all ease;
    opacity: .4;
  }

 }
}

nav {
  color:$w;
  background: black;
  line-height: 120px;
  width:100%;
  height:120px;
  @include padding(100px);
  @include font($os, 700, uppercase);

  .title {
    margin:0;
    @include font($rs, 300, uppercase);
    float:left;
    font-size:40px;
    margin:0;
    margin-right:10px;
  }

  .links {
    float:right;

    a {
      color: white;
      text-decoration: none;
      &:visted {
        color:white;
      }
    }

    span {
      margin-right:10px;
      display: inline;
      border-bottom:2px white solid;
      text-transform: lowercase;
      &:hover {
        transition: .5s all ease;
        opacity: .4;
        cursor: pointer;
      }
    }
  }
}

// HOME

#home {
  text-align:center;
  color:$w;
  width:100%;
}

.top {
  @include homediv();
  @include linear-gradient(to bottom right, magenta, cyan, $fallback: cyan);
  .bio {
    margin:0;
    h3 {
      @include font($os, 700, lowercase);
      padding-top:200px;
      margin-top:0px !important;
      font-size:65px;
      color:white;
      @include cssaligntag(center);
    }
    .social {
      font-size:40px;
      a {
        color: white;
      }
    }
  }
}

.work {
  @include homediv();
  color:black;
  background:$offwhite;
  @include linear-gradient(to bottom right, white, white, $fallback: $offwhite);

  a {
    color: black;

    &:visted {
      color:black;
    }
  }

  .tabs {
    margin-top: 0;

    ul {
      padding:0;
      color:white;
      @include font($os, 700, lowercase);
      background: black;
      padding:10px;
      border-radius:10px;
      width: 200px;
      @include cssaligntag(center);
    }

    .fa {
      font-size:30px;
    }

      .md-imac {
        display: inline-block;
        font-size:7px;
        margin-top:100px;
         img {
          width:100%;
         }
       }

  }
}

.about {
  @include homediv();
  @include linear-gradient(to bottom right, magenta, cyan, $fallback: $offwhite);

  img {
    height:200px;
    border:15px solid white;
    border-radius: 150px;
  }

  .left {
    width:50%;
    margin:0;
    height:100%;
    float:left;
    background: transparent;
    border-right:5px solid white;
    padding-top: 200px;
  }
  .right {
    width:50%;
    margin:0;
    height:100%;
    float:right;
    background: transparent;
    font-size:200px;
   a {
     color:white;
   }
    ul {
      margin:0;
      color:white;
    }
  }
}

// MOBILE

@media (max-width: 750px) {

  nav {
    height:120px;
    @include cssaligntag(center);
    background:black;
    padding:30px;
    margin-top:0;
    margin-bottom:0;
    line-height:40px;

    .title {
      float:top;
      width:100%;
      margin-right:0;
    }

    .links {
      height:45%;
      float:bottom;
      width:100%;
      span {
        line-height:50px;
      }
      .topnav {
        float:top;
      }
      .bottom {
        margin-right:0;
        float: bottom;
      }
    }
  }

  .about {

    img {
      padding-top:0;
    }

    .left {
      width:100%;
      height:50%;
      float:top;
      margin-top:0;
      background: transparent;
      border-right:5px solid white;
      padding-top: 200px;
    }
    .right {
      width:100%;
      height:50%;
      font-size:15px;
     a {
       color:white;
     }
    }
  }

}

// END
